html, body { height: 100%; }
body {
    padding-right: 0 !important;
}
.navbar {
    background-color: #222;
}
.navbar .navbar-nav > li > .nav-link {
    color: white;
}
.navbar .navbar-nav > li > .nav-link:hover,
.navbar .navbar-nav > li > .nav-link:focus {
    color: white;
}
.navbar .navbar-nav > .active > .nav-link,
.navbar .navbar-nav > .active > .nav-link:hover,
.navbar .navbar-nav > .active > .nav-link:focus {
    color: white;
    font-weight: bold;
}
.bg-navbar {
    background-color: #222;
}

/* Carousel base class */

.carousel {
    max-height: 39rem;
}

.carousel-caption {
    z-index: 10;
    top: 3rem;
    text-align: center;
}

.carousel-caption > h1, p {
    text-align: center;
}

.first-title{
    padding-top: 50px;
}

.carousel-item > .second-title{
    padding-top: 120px;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 39rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
}

@media only screen  and (min-width : 1224px){
    .carousel-caption {
        z-index: 10;
        top: 3rem;
        padding-top: 140px;
        padding-left: 170px;
        text-align: left;
    }
    .carousel-caption > h1, p {
        text-align: left;
    }
}

.btn-primary {
    background-color: #222;
    border: #222;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #3e3e3e;
    border:  #3e3e3e;
    color: #fff;
    outline:none !important;
}

.btn:focus,.btn:active {
   border:none !important;
   outline:none !important;
}

.seenon {
    min-width: 100%;
    min-height: 120px;
    max-height: 180px;
}
.qube-img-phone {
    max-height: 600px;
}
.qube-phone {
    margin-bottom: 40px;
}
.tiles {
    padding-bottom: 50px;
}
.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 60px 0px 40px 0px;
}
.tiles-images > .col-md-4 > img {
    margin: 20px 0px 10px 0px;
}

.newsletter{
    text-align: center;
    padding: 100px 10px 100px 10px;
    background: url("../img/newsletter-white-background.png");
}

.newsletter > .container > p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.center_div{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

@media (max-width: 600px) {
    .center_div{
        margin: 0 auto;
        width: 90%;
        text-align: center;
        display:block;
    }

}

.app-store{
    background: url("../img/black-pattern-wallpapers.png");
    color:white;
    padding: 50px 10px 50px 10px;
}

.app-info{
    padding-top: 200px;
    
}

.app-info > p{
    text-align: left;
}

@media (max-width: 600px) {
    .app-info{
        padding-top: 50px;
    }
    
}

#siteinfo{
    padding: 0;
    list-style-type: none;
}

#siteinfo > li >a {
    display:inline;
    
}

.app-links{
    padding: 0;
    list-style-type: none;
}

.app-links > li{
    display:inline;
    padding-right: 10px;
}

.app-links > li > img{
    padding-top: 20px;
}

.footer{
    background-color: #111;;
    padding: 70px;
    
}

.footer > p{
    color:white;
    text-align: center;
    font-size: 14px;
}

.socialmedialinks{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.socialmedialinks > li{
    display:inline;
    padding-right: 10px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .mobile-navbar{
        display: none;
    }
}

/***** MODAL PROPERTIES *****/
 .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
.close {
    font-size: 80px;
    margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        font-size: 80px;
        margin:30px -43px -20px 100px;
    }
}

.WI-FI{
    background: url("../img/ecomm_zciifz.png");
    padding-top: 160px;
    margin-top: 70px;
    padding-bottom: 200px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

.Moods{
    background: url("../img/relax_00000_qvcqmr.png");
    padding-top: 160px;
    padding-bottom: 200px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

.Alarm{
    background: url("../img/wake_up_00034_qlpczh.png");
    padding-top: 160px;
    padding-bottom: 200px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

.Notification{
    background: url("../img/sun_rise_00000_sod6qq.png");
    padding-top: 160px;
    padding-bottom: 200px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

.Automation{
    background: url("../img/kitchen_cove_00000_xjllp0.png");
    padding-top: 160px;
    padding-bottom: 200px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

.Purchase{
    background: url("../img/qube_box_render_os9b9x.png");
    padding-top: 140px;
    padding-bottom: 140px;
    color: white;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
}

.support{
    background: url("../img/IMG_20161217_013032_blur_cut_2_darken_vqu9ax.png");
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    background-size: 100% 190%;
    background-repeat: no-repeat;
    text-align: center;
}

@media (max-width:641px){
    .section-title{
        text-align: center;
    }
}

.product{
    padding-top: 160px;
}

.product-section{
    padding-top: 80px;
}

.btn-outline-primary{
    font-size: 25px;
}

.specs{
    padding: 60px;
    margin-top:80px;
    background: url("../img/newsletter-white-background.png");
}

.specs1{
    padding: 60px;
    background: url("../img/newsletter-white-background.png");
}

.details > .container > p{
    text-align: left;
}

.details{
    padding: 40px 0px 40px 0px;
}

